.header{
    display: none;
}

/*.navbar{*/
/*    display: flex;*/
/*    width: 100vw;*/
/*    height: 6vh;*/
/*    justify-content: start;*/
/*}*/


.action-bar{
    /*border: red solid 2px;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10vw;
    background-color: #a5a5a5;
    box-shadow: #6D6D6D 1px 0 3px;
}

.home-btn{
    height: 70px;

}

.home-btn img{
    opacity: 50%;
}

.home-btn img:hover{
    opacity: 100%;
}

.action-btn{
    width: 10vw;
    background-color: #9f9f9f;
    font-size: 16px;
    color: #c7c7c7;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border: none;
}

.main-btns .action-btn:hover{
    background-color: #6e6e6e;
    color: white;
}

.active-btn{
    background-color: #6e6e6e;
    color: white;
}

.main-btns{
    /*margin-top: 15px;*/
    display: flex;
    flex-direction: column;
    height: 100%;
    /*border: #4D87F4 solid 2px;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.main-btns .action-btn{
    height: 50px;
}

.setting-btn{
    justify-self: end;
}

.setting-btn img{
    opacity: 50%;
}

.setting-btn img:hover{
    opacity: 100%;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    /*border: red solid 2px;*/
}

.content-header{
    display: flex;
    height: 15vh;
    width: 90vw;
    /*border: red solid 2px;*/
    align-items: center;
    /*padding-left: 15px;*/
}

.nav-dashboard-name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.right-navbar{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
}

.logout-btn{
    width: 6vw;
    background-color: #858585;
    font-size: 14px;
    color: #c7c7c7;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border: none;
}

.logout-btn:hover{
    color: white;
    background-color: black;
}

.main-dashboard{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 85vh;
}

.top-row{
    display: flex;
    width: 80vw;
    height: 40vh;
    /*border: crimson solid 3px;*/
}

.details-container{
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-left: 30px;
    width: 30vw;
    /*border: crimson solid 3px;*/
}

.sales-graph-container{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 50vw;
    margin-left: 15px;
}

.sales-graph-container h3{
    height: 2vh;
}

.line-chart{
    height: 38vh;
    width: 50vw;
    /*border: orange solid 3px;*/
}

.bottom-row{
    display: flex;
    width: 80vw;
    height: 43vh;
    /*justify-content: space-between;*/
    /*border: crimson solid 3px;*/
}

.table-preview-container{
    display: none;
    flex-direction: column;
    width: 85vw;
    height: 75vh;
    /*border: crimson solid 3px;*/
    /*justify-content: center;*/
    margin-left: 15px;
    /*padding: 0;*/
    /*margin: 0;*/
}

.table-preview-container h3{
}

.table-container{
    overflow-x: scroll;
    height: 75vh;
}

.table{
    width: 200vw;
    box-shadow: #7d7d7d -5px 0 10px;
    height: 200vh;
    /*padding: 0;*/
    /*margin: 0;*/
}

.bar-chart-container{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 43vh;
    margin-left: 30px;
    /*border: purple solid 3px;*/
}

.bar-chart-container h3{
    height: 1vh;
}
.bar-chart{
    height: 42vh;
    width: 46vw;
    /*border: crimson solid 3px;*/
}

.deep-dive-page{
    display: none;
    height: 85vh;
    width: 85vw;
    flex-direction: column;
    margin-left: 20px;

}

.deep-dive-nav-container{
    display: flex;
    width: 65vw;
    height: 40vh;
    padding: 0 15px 0 15px;
    justify-content: space-between;
    align-self: center;
    /*border: blue solid 2px;*/
}

.deep-dive-btn{
    font-size: 18px;
    border: none;
    background-color: indianred;
    color: white;
}

.deep-dive-btn:hover{
    background-color: #973633;
    box-shadow: #6D6D6D -1px 0 3px;
}

.pool-option-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /*border: red solid 2px;*/
}

.pool-option-container img{
    margin-bottom: 20px;
}

.anomaly-container{
    display: none;
    height: 85vh;
    width: 85vw;
    /*border: red solid 2px;*/
    flex-direction: column;
    background-color: white;
    margin-left: 20px;
    /*align-self: center;*/

}

.job-profit-top-container{
    align-self: center;
}


.ml-chart{
    height: 35vh;
    width: 60vw;
    /*align-self: center;*/
}

.summary-stats{
    display: flex;
    height: fit-content;
    width: 50vw;
    align-self: center;
    margin-top: 30px;
    justify-content: space-between;
}

.hpp-stats, .lpp-stats{
    padding-right: 20px;
}

.lpp-stats .init-prompt{
    font-weight: bolder;
    color: red;
    text-align: center;
}

.lpp-stats ul, .hpp-stats ul{
    list-style: none;
    line-height: 1.5;
}

.hpp-stats .init-prompt{
    font-weight: bolder;
    color: forestgreen;
    text-align: center;
}

.job-profit-metric{
    font-weight: bold;
    color: black;
}

.add-record-page{
    display: none;
}

.quick-data-add-container{
    height: 50vh;
    display: flex;
    flex-direction: column;
}

