.header{
    display: none;
}

/*.navbar{*/
/*    display: flex;*/
/*    width: 100vw;*/
/*    height: 6vh;*/
/*    justify-content: start;*/
/*}*/


.action-bar{
    /*border: red solid 2px;*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10vw;
    background-color: black;
    box-shadow: #6D6D6D 1px 0 3px;
}

.home-btn{
    height: 60px;

}



.home-btn:hover{
    background-color: #355da7;
    cursor: pointer;
}

.action-btn{
    width: 10vw;
    background-color: black;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border: none;
}

.main-btns .action-btn:hover{
    cursor: pointer;
    background-color: #4D87F4;
    box-shadow: #6D6D6D 1px 0 3px;

}

.active-btn{
    background-color: #4D87F4;
}

.main-btns{
    /*margin-top: 15px;*/
    display: flex;
    flex-direction: column;
    height: 100%;
    /*border: #4D87F4 solid 2px;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.main-btns .action-btn{
    height: 50px;
}

.setting-btn{
    justify-self: end;
}

.setting-btn:hover{
    cursor: pointer;
    background-color: #355da7;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100vh;
    /*border: red solid 2px;*/
}

.content-header{
    display: flex;
    height: 15vh;
    width: 90vw;
    /*border: red solid 2px;*/
    align-items: center;
    /*padding-left: 15px;*/
}

.nav-dashboard-name{
    font-size: 24px;
    font-weight: bold;
    text-shadow: #6D6D6D 1px 0px 3px;
    margin-left: 15px;
    display: flex;
    color: black;
    width: 100%;
    /*border: red solid 2px;*/
}

.right-navbar{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    /*border: red solid 2px;*/
}

.logout-btn{
    height: fit-content;
    background-color: #858585;
    font-size: 14px;
    color: #c7c7c7;
    border: none;
    padding: 5px 10px 5px 10px;
}

.logout-btn a{
    text-decoration: none;
    color: white;
}

.logout-btn:hover{
    color: white;
    background-color: black;
}

.main-dashboard{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 85vh;
    /*border: solid red 2px;*/
    align-self: center;
}

.top-row{
    display: flex;
   width: fit-content;
    height: 40vh;
    /*border: crimson solid 3px;*/
}

.top-left-container{
    display: flex;
    flex-direction: column;
}

.kpi-row{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 30vh;*/
    /*border: orange solid 3px;*/
}

.details-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 25px;
    width: 20vw;
    padding-left: 25px;
    padding-bottom: 15px;
    /*align-self: center;*/
    /*border: crimson solid 3px;*/
}

.total-sales-kpi-container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.avg-pp-kpi-container{
    display: flex;
    width: fit-content;
    margin-top: 15px;
    /*border: solid red 2px;*/
}

.kpi-label{
    font-size: 20px;
    font-weight: 500;
    /*border: solid orange 2px;*/
}
.kpi-number{
    margin-top: 2px;
    font-size: 23px;
    font-weight: bolder;
    margin-left: 35px;
    color: black;
    /*border: solid orange 2px;*/
}

.avg-pp-kpi-container .kpi-number{
    margin-left: 10px;
}

.date-range-btn-container{
    display: flex;
    margin-top: 25px;
    align-self: center;
}

.date-range-btn{
    margin-left: 10px;
    color: white;
    background-color: #6D6D6D;
    border: none;
    font-size: 14px;
    box-shadow: #4B4B4B -1px 1px 3px;
    padding: 5px;
}

.date-range-btn:hover{
    cursor: pointer;
    background-color: #467BDE;
}

.active-date-range{
    background-color: #467BDE !important;
}

.sales-graph-container{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 50vw;
    margin-left: 15px;
}

.sales-graph-container h3{
    height: fit-content;
    margin-left: 15px;
}
.date-range-note{
    font-weight: normal;
    font-size: 16px;
    margin-left: 5px;
    color: #858585;
}

.line-chart{
    height: 38vh;
    width: 60vw;
    margin-top: 0px;
    /*border: orange solid 3px;*/
}

.bottom-row{
    display: flex;
    width: fit-content;
    height: 43vh;
    /*justify-content: space-between;*/
    /*border: crimson solid 3px;*/
}

.table-preview-container{
    display: none;
    flex-direction: column;
    width: 85vw;
    height: 75vh;
    /*border: crimson solid 3px;*/
    /*justify-content: center;*/
    margin-left: 15px;
    /*padding: 0;*/
    /*margin: 0;*/
}

.table-preview-container h3{
}

.table-container{
    overflow-x: scroll;
    height: 75vh;
}

.table{
    width: 300vw;
    box-shadow: #7d7d7d -5px 0 10px;
    height: 200vh;
    /*padding: 0;*/
    /*margin: 0;*/
}

.pie-chart-container{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    /*border: purple solid 3px;*/
    width: 30vw;
    height: 38vh;
    margin-left: 50px;
}

.pie-chart-container h3{
    height: fit-content;
    width: fit-content;
    margin: 10px 0 0 15px;
    /*border: #4D87F4 solid 2px;*/
}
.pie-chart{
    width: 25vw;
    height: 28vh;
    /*border: crimson solid 3px;*/
    align-self: center;
    margin-top: 10px;
}

.deep-dive-page{
    display: none;
    height: 85vh;
    width: 85vw;
    flex-direction: column;
    margin-left: 20px;

}

.deep-dive-nav-container{
    display: flex;
    width: 83vw;
    justify-content: space-between;
    align-self: center;
    margin-top: 15px;
    padding-left: 25px;
    /*border: blue solid 2px;*/
}

.pool-option-container{
    display: flex;
    width: 25vw;
    /*align-items: center;*/
    /*padding-top: 20px;*/
    /*border: red solid 2px;*/
    margin-bottom: 25px;
}

.pool-option-container img{
    height: 60px;
    /*border: blue solid 2px;*/
}

.image-container{
    height: available;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 20px;
    /*border: green solid 2px;*/

}

.analytic-details-container{
    display: flex;
    flex-direction: column;
    /*border: green solid 2px;*/
    align-content: flex-start;
    margin-right: 10px;
}

.analytic-title{
    /*border: black solid 2px;*/
    font-size: 18px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 0;
}
.analytic-details-container p{
    font-size: 15px;
    /*border: black solid 2px;*/
    margin-top: 5px;
}

.deep-dive-btn{
    height: fit-content;
    border: none;
    background-color: #467BDE;
    color: white;
    margin-bottom: 10px;
    font-size: 16px;
    width: fit-content;
    padding: 5px;
    box-shadow: #6D6D6D -1px 0 3px;
}

.deep-dive-btn:hover{
    cursor: pointer;
    background-color: black;
}

.anomaly-container{
    display: none;
    height: 85vh;
    width: fit-content;
    align-self: center;
    /*border: red solid 2px;*/
    flex-direction: column;
    background-color: white;
    margin-left: 20px;
    /*align-self: center;*/

}

.anomaly-page-title-container{
    display: flex;
    width: fit-content;
    /*border: lightcoral dotted 2px;*/
}

.ml-chart-container{
    align-self: center;
    /*border: orange solid 2px;*/
    margin-top: 20px;
}


.ml-chart{
    height: 35vh;
    width: 60vw;
    /*align-self: center;*/
}

.summary-stats{
    display: flex;
    height: fit-content;
    width: 50vw;
    align-self: center;
    margin-top: 10px;
    justify-content: space-between;
    /*border: blue solid 2px;*/
}

.hpp-stats, .lpp-stats{
    padding-right: 20px;
}

.lpp-stats .init-prompt{
    font-weight: bolder;
    color: #d26149;
    text-align: center;
}

.lpp-stats ul, .hpp-stats ul{
    list-style: none;
    line-height: 1.5;
}

.hpp-stats .init-prompt{
    font-weight: bolder;
    color: #7ab45a;
    text-align: center;
}

.job-profit-metric{
    font-weight: bold;
    color: black;
}

.add-record-page{
    display: none;
}

.add-record-page-title{
    width: 15vw;
    margin-left: 25px;
}

.quick-data-add-container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
}

.add-record-form {
    display: flex;
    flex-direction: column;
}

.add-record-form input{
    height: 25px;
}

.add-record-field{
    margin-top: 10px;
}

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
    height: 25px;
}

/*.add-record-input-container input{*/
/*    height: 30px;*/
/*    margin-bottom: 8px;*/
/*}*/

.add-record-submit-btn{
    align-self: center;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.add-record-submit-btn:hover{
    background-color: #599b05;
}

.small-note{
    font-size: 10px;
    margin-left: 5px;
    font-style: italic;
}

