.navbar{
    display: flex;
    width: 100vw;
    height: 6vh;
    justify-content: space-between;
}

.right-navbar{
    display: flex;
    justify-content: end;
    align-items: center;
}

.content{
    justify-content: center;
    /*align-items: center;*/
    /*border: red solid 2px;*/
    height: max-content;
    margin-top: 20px;
    width: 90vw;
}

.projects-container{
    /*width: 50vw;*/
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 10px;
    /*border: blue solid 2px;*/

}

.quick-data-add-container{
    /*width: 50vw;*/
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 0 10px 0 10px;
    /*border: orange solid 2px;*/
}

.quick-data-add-container form{
    display: flex;
    flex-direction: column;
    height: available;
    border: blue solid 3px;
}

.add-record-input-container{
    display: none;
    flex-direction: column;
    height: available;
    border: solid red 2px;
}
.add-record-input-container input{
    height: 30px;
}

.add-record-submit-btn{
    bottom: 5px;
}

.project-thumbnail-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    overflow-y: scroll;
    margin-right: 5px;
    border-bottom: rgba(179,179,179,0.57) solid 1px;
    /*border: solid red 1px;*/
}

.thumbnail-container{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom: rgba(179,179,179,0.57) solid 1px;
}

.project-details-container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 5px;
}

.detail-rows{
    margin: 0;
    padding: 0;
}

.project-load-date{
    font-weight: lighter;
}

.thumbnail-label{
    padding: 0;
    margin: 0 0 2px 0;
}

.thumbnail-btn{
    background-color: white;
    border-radius: 10px;
    border: solid 5px transparent;
    opacity: 60%;
}

.thumbnail-btn img{
    padding: 5px;
}

.thumbnail-btn:hover{
    cursor: pointer;
    border: rgba(77,135,244,0.8) solid 5px;
    border-radius: 10px;
    box-shadow: #6D6D6D -2px 2px 5px;
    opacity: 100%;
}

.main-action-btns{
    display: flex;
    width: 100%;
    margin-top: 18px;
}

.project-options{
    margin-right: 10px;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    background-color: #7a7a7a;
    color: #c3c3c3;
}

.project-options:hover{
    box-shadow: #6D6D6D -2px 2px 1px;
}

.view-btn:hover{
    background-color: #4D87F4;
    color: white;
}

.edit-btn:hover{
    background-color: #6D6D6D;
    color: white;
}

.remove-btn:hover{
    background-color: #cb655f;
    color: white;
}

