.navbar{
    display: flex;
    /*width: 100vw;*/
    justify-content: space-between;
}


.logo-container{
    height: 15vh;
}

.right-navbar{
    display: flex;
    justify-content: end;
    align-items: center;
}

.beta-sup{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color: #ffa351;
}

.content{
    justify-content: center;
    /*align-items: center;*/
    /*border: red solid 2px;*/
    height: max-content;
    margin-top: 20px;
    width: 90vw;
}

.projects-container{
    /*width: 50vw;*/
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 10px;
    /*border: blue solid 2px;*/

}

.quick-data-add-container{
    /*width: 50vw;*/
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 0 10px 0 10px;
    /*border: orange solid 2px;*/
}

.quick-data-add-container form{
    display: flex;
    flex-direction: column;
    height: 100%;
    /*border: blue solid 3px;*/
}

.add-record-input-container{
    display: none;
    flex-direction: column;
    height: 100%;
    padding-bottom: 0;
    padding-top: 8px;
    /*border: solid red 2px;*/
}
.add-record-input-container input{
    height: 30px;
    margin-bottom: 8px;
}

.add-record-submit-btn{
    align-self: center;
    width: 100px;
    margin-top: 10px;
}

.add-record-submit-btn:hover{
    background-color: #599b05;
}

.project-thumbnail-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 60vh;
    overflow-y: scroll;
    margin-right: 5px;
    border-bottom: rgba(179,179,179,0.57) solid 1px;
    border-top: rgba(179,179,179,0.57) solid 1px;
    /*border: solid red 1px;*/
}

.thumbnail-container{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.project-details-container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 5px;
}

.detail-rows{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.project-load-date{
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}

.thumbnail-label{
    padding: 0;
    margin: 0 0 2px 0;
}

.thumbnail-btn{
    background-color: white;
    border-radius: 5px;
    border: solid 3px rgba(0,0,0,0.6);
    opacity: 60%;
}

.thumbnail-btn img{
    padding: 5px;
}

.thumbnail-btn:hover{
    cursor: pointer;
    border: black solid 3px;
    border-radius: 5px;
    box-shadow: #6D6D6D -2px 0 2px;
    opacity: 100%;
}

.thumbnail-btn:hover ~ .project-details-container .thumbnail-label{
    color: black;
    text-shadow: #a5a5a5 -1px 0 3px;
}

.thumbnail-btn:hover ~ .project-details-container .detail-rows{
    color: black;
    font-weight: bold;
}
.main-action-btns{
    display: flex;
    width: 100%;
    margin-top: 18px;
}

.project-options{
    margin-right: 10px;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    background-color: #b0b0b0;
    color: white;
}

.project-options:hover{
    cursor: pointer;
    box-shadow: #6D6D6D -2px 2px 1px;
}

.view-btn:hover{
    background-color: #4D87F4;
    color: white;
}


.details-btn:hover{
    background-color: #d89603;
    color: white;
}

.remove-btn:hover{
    background-color: #cb655f;
    color: white;
}

.details-popout{
    display: None;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: #6D6D6D 0 0 5px;
    justify-self: center;
    align-self: center;
    padding: 0 10px 0 10px;
}

.close-details-btn{
    margin-top: 5px;
    margin-right: 5px;
    width: 60px;
    align-self: end;
}

.close-details-btn:hover{
    background-color: #cb655f;
}


