.logo-container{
    height: 12vh;
}

.navbar{
    height: 3vh;
    box-shadow: #6D6D6D 0 5px 5px;
}

.logo-text{
    font-size: 36px;
    color: white;
    font-weight: lighter;
    /*text-shadow: #4B4B4B -1px 0 2px;*/
}

.logo-container sup{
    text-shadow: none;
    font-size: 19px;
    font-weight: lighter;
}

.graphic-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: available;
    padding-left: 20px;
    align-self: center;
    align-items: center;
}

.login-container{
    align-self: center;
    margin: 0 auto 20vh auto;
    align-content: center;
    display: flex;
    flex-direction: column;
    color: #7a7a7a;
    padding: 0 30px 20px 30px;
}

input{
    margin-bottom: 10px;
    font-size: 16px;
}

.login-btn{
    border: none;
    background-color: #6C92DE;
    color: white;
    padding: 5px 8px 5px 8px;
}

.login-btn:hover{
    cursor: pointer;
    box-shadow: #6D6D6D -1px 1px 5px;
    background-color: #467BDE;
    color: white;
}

.login-message{
    color: #d26149;
    font-style: italic;
    font-size: 14px;
}

.register-container{
    display: flex;
    font-size: 15px;
    align-items: center;
    margin-top: 10px;
}

.register-container button{
    border: none;
    background-color: #a5a5a5;
    color: #eeeeee;
    margin-left: 15px;
    padding: 5px 7px 5px 7px;

}

.register-container button:hover{
    cursor: pointer;
    box-shadow: #6D6D6D -1px 1px 5px;
    background-color: black;
    color: white;
}