.title-notation{
    color: black;
}

.logo-container{
    justify-content: flex-start;
}

#main-logo{
    width: 80px;
    margin-left: 10px;
}

.navbar{
    display: flex;
    width: 100vw;
    /*height: 7vh;*/
    justify-content: space-between;
}
.right-navbar{
    justify-content: end;
}

.preview-options{
    height: 85vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid red 2px;*/
    /*justify-content: center;*/
}

.inner-preview-options{
    margin-top: 10px;
}

.inner-preview-options h3{
    margin-bottom: 8px;
    margin-left: 5px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: fit-content;
    padding-top: 15px;
    /*align-items: center;*/
    /*justify-content: center;*/
    padding-left: 25px;
}

form{
    display: flex;
    flex-direction: column;
    /*height: 70vh;*/
    font-size: 16px;
    font-family: Swansea;
}

.data-title{
    font-size: 16px;
    width: 70%;
}

select{
    font-size: 14px;
    font-family: Swansea;
    font-weight: bold;
    color: #6D6D6D;
    width: 80px;
}

.selection-row{
    margin-top: 15px;
}

.materials-selection-box{
    font-size: 14px;
    height: 15vh;
    overflow-y: scroll;
    border: rgba(146,146,146,0.61) solid 1px;
    margin-right: 50px;
    margin-top: 5px;
}

.btn-container{
    display: flex;
    width: 30vw;
    /*height: 100px;*/
    align-items: center;
    justify-content: center;
    bottom: 5px;
    margin: 20px 0 20px 0;
    /*border: orange solid 1px;*/
}

.action-btn{
    font-size: 16px;
    /*width: 150px;*/
    /*height: 30px;*/
    /*border-radius: 20px;*/
    color: #7a7a7a;
    border: none;
    background-color: transparent;
    margin-right: 20px;
    padding: 5px;
}

.analyze-btn{
    border: none;
}

.analyze-btn:hover{
    cursor: pointer;
    /*background-color: #467BDE;*/
    background-color: #467BDE;
    /*font-weight: bold;*/
    color: white;
    text-shadow: #6D6D6D -1px 0 2px;
    /*border: #4a88b8 solid 2px;*/
}

.save-only-btn{
    border: none;
}

.save-only-btn:hover{
    cursor: pointer;
    /*background-color: #467BDE;*/
    background-color: #6287d0;
    /*font-weight: bold;*/
    color: white;
    text-shadow: #6D6D6D -1px 0 2px;
    /*border: #4a88b8 solid 2px;*/
}
.error-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    /*border: red solid 2px;*/
    background-color: white;
    padding: 5px 5px 2px 5px;
}

.error-container button{
    display: flex;
    width: fit-content;
    align-self: end;
    margin: 2px 3px 0 0;
}
.error-message-container{
    height: 30vh;
    /*border: red solid 2px;*/
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-self: center;
    overflow-y: scroll;
    padding: 5px 0 5px 0;
    margin: 2px 0 2px 0;
}
.error-message-container span{
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}

.table-preview-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 85vh;
    justify-content: center;
    margin-right: 15px;
    /*padding: 0;*/
    /*margin: 0;*/
}


.table-container{
    overflow-x: scroll;
    height: 70vh;
    box-shadow: #6D6D6D -2px -1px 5px;
}

.table{
    width: 200vw;
    /*box-shadow: #7d7d7d -5px 0 10px;*/
    height: 70vh;
    /*padding: 0;*/
    /*margin: 0;*/
}