{% extends 'base.html' %}
{% block head %}
    <title>Active Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/active_dashboard.css") }}">
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes make-card" id="flash-card">
        {% for message in messages %}
          <p>{{ message }}</p>
            <button onclick="hideAlert('flash-card')">close</button>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="action-bar">
        <a href="/home">
        <button class="home-btn action-btn" href="/home">
                <img src="{{ url_for("static", filename="site_images/back_home.png") }}" alt="" width="30px">
        </button>
        </a>
        <div class="main-btns">
            <button class="action-btn active-btn" onclick="showPage('main-page', 'main-board-btn')" id="main-board-btn">Main Board</button>
            <button class="action-btn" onclick="showPage('deep-dive-page', 'deep-dive-btn')" id="deep-dive-btn">Deep Dive</button>
            <button class="action-btn" onclick="showPage('table-page', 'view-table-btn')" id="view-table-btn">View Table</button>
            <button class="action-btn" onclick="showPage('add-record-page', 'add-record-btn')" id="add-record-btn">+</button>
        </div>
        <button class="setting-btn action-btn">
            <img src="{{ url_for("static", filename="site_images/gear_icon.png") }}" alt="" width="30px">
        </button>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="nav-dashboard-name">{{data["dashboard_config"]["project_name"]}}</span>
            <div class="right-navbar">
                <span>{{ user["email"] }}</span>
                <button class="logout-btn"><a href="/">Logout</a></button>
            </div>
        </div>

        <div class="main-dashboard" id="main-page">
            <div class="top-row">
                <div class="top-left-container">
                    <div class="details-container make-card">
                        <div class="total-sales-kpi-container">
                            <span class="kpi-label">Total Sales:</span>
                            <span class="kpi-number">{{ objects["kpis"]["Total Sales"] }}</span>
                        </div>
                        <div class="avg-pp-kpi-container">
                            <span class="kpi-label">Avg % Profit:</span>
                            <span class="kpi-number">{{ objects["kpis"]["Avg Percent Profit"] }}</span>
                        </div>
                    </div>
                    <div class="date-range-btn-container">
                        <button class="date-range-btn all-time-btn active-date-range"><a href="{{ url_for('active_dashboard', date_range='All-time') }}">All Time</a></button>
                        <button class="date-range-btn this-month-btn"><a href="{{ url_for('active_dashboard', date_range='Month') }}">This Month</a></button>
                        <button class="date-range-btn this-week-btn"><a href="{{ url_for('active_dashboard', date_range='Week') }}">This Week</a></button>
                    </div>
                </div>
                <div class="pie-chart-container make-card">
                    <h3>Cost Analysis</h3>
                    <div class="pie-chart" id="piechart">
                    </div>
                </div>
            </div>

            <div class="bottom-row">
                <div class="sales-graph-container">
                    <h3>Sales timeline <em class="date-range-note">{{ objects["view_details"]["min_date"] }} - {{ objects["view_details"]["max_date"] }}</em></h3>
                    <div class="line-chart" id="linegraph">
                    </div>
                </div>
            </div>
        </div>

        <div class="table-preview-container" id="table-page">
            <h2>Your data at a glance.</h2>
            <div class="table-container">
                <div class="table" id="table">
                </div>
            </div>
        </div>

        <div class="deep-dive-page" id="deep-dive-page">
            <h2>Automated Analytics</h2>
            <div class="deep-dive-nav-container">
                <div class="pool-option-container make-card">
                    <div class="image-container">
                        <img src="{{ url_for("static", filename="site_images/job_profit_icon.png") }}" width="60px" alt="">
                    </div>
                    <div class="analytic-details-container">
                        <span class="analytic-title">Profitability Analysis</span>
                        <p>See your jobs that have unusually low and high percent profit.</p>
                        <button class="deep-dive-btn" onclick="showPage('anomaly-page', 'deep-dive-btn')"><div></div>Go to view</button>
                    </div>
                </div>
                <div class="pool-option-container make-card">
                    <div class="image-container">
                        <img src="{{ url_for("static", filename="site_images/deep_dive_placeholder_icon.png") }}" width="60px" alt="">
                    </div>
                    <div class="analytic-details-container">
                        <span class="analytic-title">TBD</span>
                        <p>Analytic explained at a high level...</p>
                        <button class="deep-dive-btn">Go to view</button>
                    </div>
                </div>
                <div class="pool-option-container make-card">
                    <div class="image-container">
                        <img src="{{ url_for("static", filename="site_images/deep_dive_placeholder_icon.png") }}" width="60px" alt="">
                    </div>
                    <div class="analytic-details-container">
                        <span class="analytic-title">TBD</span>
                        <p>Analytic explained at a high level...</p>
                        <button class="deep-dive-btn">Go to view</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="anomaly-container" id="anomaly-page">
            <div class="anomaly-page-title-container">
                <h2 class="anomaly-page-title">Profitability Analysis |
                    <span class="date-range-note">
                        {{ objects["view_details"]["min_date"] }} - {{ objects["view_details"]["max_date"] }}
                    </span></h2>
            </div>
            <div class="summary-stats">
                <div class="lpp-stats make-card">
                    <h3 class="init-prompt">{{ objects["anomalies"]["stats"]["Low Percent Profit"]["Top Prompt"] }}</h3>
                    <ul>
                        <li>
                            {{ objects["anomalies"]["stats"]["Low Percent Profit"]["Stat (1) Prompt"] }}
                            <span class="job-profit-metric">{{ objects["anomalies"]["stats"]["Low Percent Profit"]["Stat (1) Metric"] }}</span>
                        </li>
                        <li>
                            {{ objects["anomalies"]["stats"]["Low Percent Profit"]["Stat (2) Prompt"] }}
                            <span class="job-profit-metric">{{ objects["anomalies"]["stats"]["Low Percent Profit"]["Stat (2) Metric"] }}</span>
                        </li>
                        <li>
                            {{ objects["anomalies"]["stats"]["Low Percent Profit"]["Stat (3) Prompt"] }}
                            <span class="job-profit-metric">{{ objects["anomalies"]["stats"]["Low Percent Profit"]["Stat (3) Metric"] }}</span>
                        </li>
                    </ul>
                </div>
                <div class="hpp-stats make-card">
                    <h3 class="init-prompt">{{ objects["anomalies"]["stats"]["High Percent Profit"]["Top Prompt"] }}</h3>
                    <ul>
                        <li>
                            {{ objects["anomalies"]["stats"]["High Percent Profit"]["Stat (1) Prompt"] }}
                            <span class="job-profit-metric">{{ objects["anomalies"]["stats"]["High Percent Profit"]["Stat (1) Metric"] }}</span>
                        </li>
                        <li>
                            {{ objects["anomalies"]["stats"]["High Percent Profit"]["Stat (2) Prompt"] }}
                            <span class="job-profit-metric">{{ objects["anomalies"]["stats"]["High Percent Profit"]["Stat (2) Metric"] }}</span>
                        </li>
                        <li>
                            {{ objects["anomalies"]["stats"]["High Percent Profit"]["Stat (3) Prompt"] }}
                            <span class="job-profit-metric">{{ objects["anomalies"]["stats"]["High Percent Profit"]["Stat (3) Metric"] }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ml-chart-container">
                <div class="ml-chart" id="mlgraph">
                </div>
            </div>
        </div>
    <div class="add-record-page" id="add-record-page">
            <h2 class="add-record-page-title">Update {{ data["dashboard_config"]["project_name"] }}</h2>
            <div class="quick-data-add-container make-card">
                <h3>Add a record</h3>
                <form  class="add-record-form" action="" method="post">
                    <label for="add-record-date">Date</label>
                    <input name="add-record-date" type="date">

                    <label for="add-record-sales" class="add-record-field">Sales</label>
                    <span class="small-note">Total sale amount.</span>
                    <span class="currencyinput">$<input name="add-record-sales" type='number' step='0.01' value='0.00' placeholder='0.00'></span>

                    <label for="add-record-materials" class="add-record-field">Materials</label>
                    <span class="small-note">Total cost of materials used.</span>
                    <span class="currencyinput">$<input name="add-record-materials" id="materials-costs" type='number' step='0.01' value='0.00' placeholder='0.00' onchange="updateTotal()"></span>

                    <label for="add-record-labor" class="add-record-field">Labor</label>
                    <span class="small-note">Total cost of labor.</span>
                    <span class="currencyinput">$<input name="add-record-labor" id="labor-costs" type='number' step='0.01' value='0.00' placeholder='0.00' onchange="updateTotal()"></span>

                    <label for="add-record-costs" class="add-record-field">Total Costs</label>
                    <span class="small-note">Materials, Labor, additional costs.</span>
                    <span class="currencyinput">$<input name="add-record-costs" id="total-cost" type='number' step='0.01' value='0.00' placeholder='0.00'></span>
                    <button type="submit" value="add_record_{{ data["dashboard_config"]["project_name"] }}" name="dashboard-action" class="add-record-submit-btn theme-btn">Add record</button>
                </form>
            </div>

    </div>

    </div>

<script>
    var piechart = {{objects["visuals"]["bar"] | safe}};
    Plotly.plot('piechart',piechart,{});
    var linegraph = {{objects["visuals"]["line"]  | safe}};
    Plotly.plot('linegraph',linegraph,{});
    var table = {{objects["visuals"]["table"]  | safe}};
    Plotly.plot('table',table,{});
    var ml_graph = {{objects["visuals"]["ml_graph"]  | safe}};
    Plotly.plot('mlgraph',ml_graph,{});
    let pages = ["main-page", "table-page", "deep-dive-page", "add-record-page", "anomaly-page"];
    let buttons = ["main-board-btn", "deep-dive-btn", "view-table-btn", "add-record-btn"];
    function showPage(current_page, active_btn){
        for(let i=0;i<pages.length;i++){
         let page = document.getElementById(pages[i]);
         page.style.display = "none";
        }
        for(let i=0;i<buttons.length;i++){
            let button = document.getElementById(buttons[i]);
            button.classList.remove('active-btn')
        }
        let get_page = document.getElementById(current_page);
        get_page.style.display = "flex";
        let get_button = document.getElementById(active_btn);
        get_button.classList.add('active-btn')
    }

    function updateTotal(){
        let materials_total = document.getElementById("materials-costs").value;
        let labor_total = document.getElementById("labor-costs").value;

        let current_total = parseFloat(materials_total)+parseFloat(labor_total);
        console.log(current_total)
        let total_costs = document.getElementById("total-cost");
        total_costs.value = current_total;
    }

    function hideAlert(alert_id){
        let alert_card = document.getElementById(alert_id);
        alert_card.style.display = 'none';
    }

</script>
{% endblock %}