{% extends 'base.html' %}
{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/home.css") }}">
{% endblock %}
{% block navbar %}
    <div class="navbar-spacer"></div>
    <div class="center-navbar">

        <a href="/data-import"><button class="navbar-buttons">Create Dashboard</button></a>
        <a href="#"><button class="navbar-buttons">Cost Estimation</button></a>
        <a href="#"><button class="navbar-buttons">Find Clients</button></a>
    </div>
    <div class="right-navbar">
        <span>{{ user["email"] }}</span>
        <a href="/"><button class="navbar-buttons logout-btn">Logout</button></a>
    </div>
{% endblock %}
{% block content %}
    <div class="projects-container">
        <h2>Recent projects</h2>
        <form class="project-thumbnail-form" method="post">
            {% if projects %}
                {% for project in projects %}
                    <div class="thumbnail-container">
                        <button class="thumbnail-btn" type="submit" name="project_button" value="{{ project }}">
                            <img src="{{ url_for("static", filename="site_images/project_thumbnail.png") }}" alt="submit" width="70px"/>
                        </button>
                        <div class="project-details-container">
                            <h3 class="thumbnail-label">{{ project }}</h3>
                            <h4 class="detail-rows">Dashboard last updated: <span class="project-load-date">DATE</span></h4>
                            <div class="main-action-btns">
                                <button class="project-options view-btn" type="submit" name="project_button" value="{{ project }}">View</button>
                                <button class="project-options edit-btn" name="project_button" value="edit_{{ project }}">Edit</button>
                                <button class="project-options remove-btn" name="project_button" value="delete_{{ project }}">Remove</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    <div class="quick-data-add-container">
        <h2>Add a record</h2>
        <form action="">
            <select name="" id="">
                <option value="none">Select a dashboard.</option>
                {% if projects %}
                    {% for project in projects %}
                        <option value="{{ project }}">{{ project }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </form>
    </div>
{% endblock %}