{% extends 'base.html' %}
{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/home.css") }}">
{% endblock %}
{% block navbar %}
    <div class="navbar-spacer"></div>
    <div class="center-navbar">

        <a href="/data-import"><button class="navbar-buttons">Create Dashboard</button></a>
        <a href="#"><button class="navbar-buttons">Cost Estimation</button></a>
        <a href="#"><button class="navbar-buttons">Ask It <sup class="beta-sup">beta</sup></button></a>
    </div>
    <div class="right-navbar">
        <span>{{ user["email"] }}</span>
        <a href="/"><button class="navbar-buttons logout-btn">Logout</button></a>
    </div>
{% endblock %}
{% block content %}
    <div class="projects-container make-card">
        <h2>Recent Dashboards</h2>
        <form class="project-thumbnail-form" method="post">
            {% if projects %}
                {% for project in projects %}
                    <div class="thumbnail-container">
                        <button class="thumbnail-btn make-card" type="submit" name="project_button" value="{{ project[0] }}">
                            <img src="{{ url_for("static", filename="site_images/dashboard_thumbnail.png") }}" alt="submit" width="70px"/>
                        </button>
                        <div class="project-details-container">
                            <h3 class="thumbnail-label">{{ project[0] }}</h3>
                            <p class="detail-rows">Dashboard last updated: <span class="project-load-date">{{ project[1] }}</span></p>
                            <div class="main-action-btns">
                                <button class="project-options view-btn" type="submit" name="project_button" value="{{ project[0] }}">View Dashboard</button>
                                <button class="project-options details-btn" name="project_button" value="details_{{ project[0] }}" type="button" onclick="viewDetails('details-popout-{{ project[0] }}')">Details</button>
                                <button class="project-options remove-btn" name="project_button" value="delete_{{ project[0] }}">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="details-popout" id="details-popout-{{ project[0] }}">
                        <button type="button" onclick="closeDetails('details-popout-{{ project[0] }}')" class="theme-btn close-details-btn">close</button>
                        <h3>{{ project[0] }} Details</h3>
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    <div class="quick-data-add-container make-card">
        <h3>Create New Record</h3>
        <form action="" method="post">
            <select name="table-selection" id="dashboard-selector" onchange="reveal_form()">
                <option value="none">Select a dashboard.</option>
                {% if projects %}
                    {% for project in projects %}
                        <option value="{{ project[0] }}">{{ project[0] }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <div class="add-record-input-container" id="add-record-form">
                <label for="add-record-date">Date</label>
                <input name="add-record-date" type="date">

                <label for="add-record-sales">Sales</label>
                <input name="add-record-sales" type="number">

                <label for="add-record-materials">Materials</label>
                <input name="add-record-materials" type="number">

                <label for="add-record-labor">Labor</label>
                <input name="add-record-labor" type="number">

                <label for="add-record-costs">Total Costs</label>
                <input name="add-record-costs" type="number">

                <input type="submit" name="project_button" value="Add record" class="add-record-submit-btn theme-btn">
            </div>
        </form>
    </div>
    <script>
    function reveal_form(){
        let add_form = document.getElementById("add-record-form");
        let selection = document.getElementById("dashboard-selector");
        console.log(selection.value);
        if(selection.value !== "none"){
            add_form.style.display = "flex";
            console.log("Dashboard selected...");
        }
        else{
            add_form.style.display = "none";
            console.log("No dashboard displayed");
        }
    }

    function viewDetails(details_container){
        let popout = document.getElementById(details_container);
        popout.style.display = "flex";
    }

    function closeDetails(details_container){
        let popout = document.getElementById(details_container);
        popout.style.display = "none";
    }
    </script>
{% endblock %}