{% extends 'base.html' %}
{% block head %}
    <title>Data Import</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/import_data.css") }}">
{% endblock %}

{% block navbar %}
    <div class="left-navbar">
        <a href="/home"><button class="navbar-buttons">Home</button></a>
    </div>
    <div class="right-navbar">
        <span>{{ user["email"] }}</span>
        <a href="/"><button class="navbar-buttons logout-btn">Logout</button></a>
    </div>
{% endblock %}

{% block content %}
    <div class="instructions-container">

        <div class="instructions-card make-card">
            <h3>Just a couple of prerequisites to get started...</h3>
            <ul>
                <li>Data uploaded must contain the <b>required fields<sup>*</sup></b>as listed below.</li>
                <li>Please be sure to <b>remove all styling,</b> additional headers, etc.</li>
            </ul>
            <div class="required-fields-container">
            <h4>Required fields:</h4>
                <ul>
                    <li class="required-field-row"><b>Date </b>(<em>field details</em>)
                        <ul>
                            <li><em>format instructions</em></li>
                        </ul>
                    </li>

                    <li class="required-field-row"><b>Sales</b>(<em>field details</em>)
                        <ul>
                            <li><em>format instructions</em></li>
                        </ul>
                    </li>

                    <li class="required-field-row"><b>Costs</b>(<em>field details</em>)
                        <ul>
                            <li><em>format instructions</em></li>
                        </ul>
                    </li>

                    <li class="required-field-row"><b>Labor</b>(<em>field details</em>)
                        <ul>
                            <li><em>format instructions</em></li>
                        </ul>
                    </li>

                    <li class="required-field-row"><b>Materials</b>(<em>field details</em>)
                        <ul>
                            <li><em>format instructions</em></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <div class="upload-form-container">

        <div class="form-content-container">
            <h2>Import Data</h2>
            <p>Upload an excel or csv file.</p>
            <form method="post" enctype=multipart/form-data>
                <input type="file" name="file" class="file-input"><br>
                <input type="submit" value="Upload" class="upload-btn">
            </form>

            <div class="message">
                {% if message %}
                    {{ message }}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}