{% extends 'base.html' %}
{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
        <div class="graphic-container">
            <span class="subtitle-text">Your on-demand business analyst for <h3 class="subtitle-highlight" id="swap-tagline">Savings.</h3></span>
            <img class="info-graphic-img" src="{{ url_for("static", filename="site_images/active_dashboard_screenshot.png") }}" alt="" width="650px">
        </div>
        <div class="login-container make-card">
            <h3>User Login</h3>
            <form action="" method="post">
                <input type="email" name="email" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" value="Login" class="login-btn">
            </form>
            {% if message %}
                <div class="login-message">
                    {{ message }}
                </div>
            {% endif %}
            <div class="register-container">
                <p>Don't have an account?</p>
                <a href="/register"><button>Sign Up</button></a>
            </div>
        </div>

    <script>
    let text = ["Growth.", "Higher Profits.", "Scaling.", "More Revenue.", "Saving."];
    let counter = 0;
    let elem = document.getElementById("swap-tagline");
    let inst = setInterval(change, 5000);

    function change() {
      elem.innerHTML = text[counter];
      counter++;
      if (counter >= text.length) {
        counter = 0;
        // clearInterval(inst); // uncomment this if you want to stop refreshing after one cycle
      }
    }
    </script>

{% endblock %}