{% extends 'base.html' %}
{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/login.css") }}">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
        <div class="graphic-container">
            <img src="{{ url_for("static", filename="site_images/intro_graphic.png") }}" alt="" width="550px">
        </div>
        <div class="login-container make-card">
            <h3>Account Login</h3>
            <form action="" method="post">
                <input type="email" name="email" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="submit" value="Login">
            </form>
        <div class="register-container">
            <p>Don't have an account?</p>
            <a href="/register"><button>Sign Up</button></a>
        </div>
            {% if message %}
                {{ message }}
            {% endif %}
        </div>

{% endblock %}